<main class="main">
  <section class="section__image">
    <p>
      <img
        class="image2"
        src="../../assets/img/imagenCaballitoLogo.jfif"
        alt="imagen2"
      />
    </p>

    <div class="founder__container">
      <label class="section__extrac" >
        Haz clic y únete al grupo de WhatsApp
      </label>
      <br />
      <span class="subtext">
        Allí te enviaremos el enlace Zoom y además podrás participar de los sorteos.
      </span>
    </div>

    <p class="Hora">
      {{ formatTime(contador) }}
    </p>

    <a class="form__button" href="https://chat.whatsapp.com/GmEj1JRhaySE4esw79RjRW">
      CLIC AQUÍ PARA UNIRTE AL GRUPO DE WHATSAPP
    </a>

    <img class="image3" src="../../assets/img/img-ultima.jpeg" alt="imagen3" />
  </section>
</main>
