<main class="main">
  <section class="section__image">
    <p>
      <img
        class="image2"
        src="../../assets/img/casaCampo/quevedologo 221.png"
        alt="imagen2"
      />
    </p>

    <div class="founder__container">
      <br />

      <p class="section__extrac">
        <span class="congratulations">¡Felicitaciones!</span>
        <br />
        Estás a un paso de recibir
        <span class="subtext">
          asesoramiento gratuito,
        </span>
        y hacer realidad
        <span class="subtext">
          tu proyecto.
        </span>
      </p>
    </div>


    <p class="Hora">
      {{ formatTime(contador) }}
    </p>
    <a class="form__button" href="https://wa.link/d64xp6">
      CLICK AQUÍ PARA CONTACTARNOS
    </a>

    <img class="image3" src="../../assets/img/casaCampo/Secuencia 01.gif" alt="imagen3" />
  </section>
</main>
